/* ===== MAIN ===== */

.header {
    position: sticky;
    top: var(--space-md);
    z-index: 1000;
    transition: var(--transition-normal);
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.header > * {
    transition: var(--transition-normal);
}

.header.initial {
    max-width: 100%;
    padding: 0;
}

.header.scrolled {
    top: 0;
}

.header.scrolled .headerContainer {
    border-bottom: var(--line-sm) solid var(--border);
    background: linear-gradient(var(--bg-dark), var(--glass-dark));
    border-radius: 0;
    box-shadow: none;
    margin: 0;
}

.header.scrolled nav {
    height: 60px;
}

.headerContainer {
    background: var(--bg);
    backdrop-filter: var(--blur-xs);
    border-radius: var(--radius-3xl);
    box-shadow: var(--shadow-sm);
    /*max-width: inherit;*/
    width: 100%;
    margin: 0 var(--space-sm);
    padding: 0 var(--space-xl);
    border-bottom: var(--line-sm) solid transparent;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    transition: var(--transition-normal);
}

.headerDivider {
    height: var(--space-xl);
    width: var(--line-xs);
    background-color: var(--border-muted);
    margin: 0 var(--space-lg);
}

.headerCenter {
    flex: 1;
    display: flex;
    justify-content: center;
}

/* ===== SERVER LOGO =====*/

.headerLogo {
    display: flex;
    align-items: center;
    gap: var(--space-md);
    text-decoration: none;
    font-weight: var(--font-bold);
    font-size: var(--text-2xl);
    color: var(--text);
    transition: var(--transition-normal);
    /*box-shadow: var(--shadow-xs-inset);*/
    padding: var(--space-sm);
    border-radius: var(--radius-xl);
    /*background: var(--bg-dark);*/
}

.headerLogoIcon {
    width: var(--space-xl);
    height: var(--space-xl);
    mask: url('/black_256.svg') no-repeat center;
    mask-size: contain;
    -webkit-mask: url('/black_256.svg') no-repeat center;
    -webkit-mask-size: contain;
    background-color: var(--text);
    transition: var(--transition-normal);
}

/*.headerLogo:hover .headerLogoIcon {*/
/*}*/

.headerLinksList {
    display: flex;
    align-items: center;
    gap: var(--space-xl);
    list-style: none;
}

.headerLink {
    color: var(--text-muted);
    text-decoration: none;
    font-weight: var(--font-normal);
    padding: var(--space-sm) 0;
    position: relative;
    transition: var(--transition-normal);
    display: inline-block;
    min-width: var(--space-4xl);
    text-align: center;
    font-size: var(--text-lg);
}

.headerLink:hover {
    color: var(--text);
}

.headerLink::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: var(--line-sm);
    background: var(--secondary);
    transition: var(--transition-normal);
}

.headerLink:hover::after {
    width: 75%;
}

.headerLink:global(.active) {
    color: var(--text);
    font-weight: var(--font-semibold);
}

.headerLink:global(.active)::after {
    width: 100%;
    background: var(--primary);
}

/* ===== PROFILE & LOGIN ===== */

.headerProfile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--space-2xl);
    height: var(--space-2xl);
    border-radius: var(--radius-xl);
    text-decoration: none;
}

.headerProfile > * {
    transition: var(--transition-normal);
}

.headerProfile:hover:not(:global(.active)) > .headerProfileImage {
        transform: translateY(-2px);
        box-shadow: var(--shadow-xs);
        background: var(--bg-light);
}

.headerProfile:global(.active) > .headerProfileImage {
    box-shadow: var(--shadow-xs);
    transform: scale(1.2);
}

.headerProfileImage {
    width: var(--space-xl);
    height: var(--space-xl);
    border-radius: var(--radius-sm);
    object-fit: cover;
}

.headerLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--space-2xl);
    height: var(--space-2xl);
    border-radius: var(--radius-xl);
    background: var(--bg-dark);
    transition: var(--transition-normal);
    text-decoration: none;
}

.headerLogin > * {
    transition: var(--transition-normal);
}

.headerLogin:hover:not(:global(.active)) {
    transform: translateY(-2px);
    box-shadow: var(--shadow-xs);
}

.headerLogin:hover:not(:global(.active)) > .headerLoginImage {
    transform: translateY(-2px);
    box-shadow: var(--shadow-xs);
    background: var(--bg-light);
}

.headerLogin:global(.active) {
    box-shadow: var(--shadow-xs);
    background: var(--bg-light);
}

.headerLoginIcon {
    width: var(--space-xl);
    height: var(--space-xl);
    mask: url('/sign-in.svg') no-repeat center;
    mask-size: contain;
    -webkit-mask: url('/sign-in.svg') no-repeat center;
    -webkit-mask-size: contain;
    background-color: var(--text);
}


/* ===== BURGER MENU ===== */

.menuWrap{
    display: none;
}

/* ===== MEDIA QUERIES ===== */

@media (max-width: 768px) {
    .headerContainer {
        padding: 0 var(--space-md);
    }

    .headerDivider {
        margin: 0 var(--space-md);
    }

    .headerLinksList {
        gap: var(--space-sm);
    }

    .headerLogo {
        font-size: 1.2rem;
    }

    .headerLogoIcon {
        width: var(--space-xl);
        height: var(--space-xl);
    }
}

@media (max-width: 640px) {
    .nav {
        height: 80px;
    }

    .headerLinksList {
        gap: var(--space-xs);
        display: grid;
    }

    .headerDivider {
        display: none;
    }

    .headerLink {
        font-size: 0.9rem;
    }

    .headerProfile {
        width: var(--space-2xl);
        height: var(--space-2xl);
    }

    .headerProfileImage {
        width: var(--space-xl);
        height: var(--space-xl);
    }

    .headerLogin {
        width: var(--space-2xl);
        height: var(--space-2xl);
    }

    .headerLoginIcon {
        width: var(--space-xl);
        height: var(--space-xl);
    }

    .headerLogo{
        display: none;
    }

    .headerCenter {
        display: none;
    }

    .menuWrap{
        justify-content: center;
        display: flex;
        width: var(--space-2xl);
        height: var(--space-2xl);
    }
}