.newsContainer {
    padding: var(--space-3xl) var(--space-xl);
    color: var(--text-muted);
}

.newsTitle {
    font-size: var(--text-4xl);
    font-weight: var(--font-bold);
    margin-bottom: var(--space-2xl);
    text-align: center;
    color: var(--text);
    overflow-wrap: break-word;
}

.newsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: var(--space-2xl);
}

.newsCard {
    background-color: var(--bg);
    padding: var(--space-lg);
    border-radius: var(--radius-2xl);
    box-shadow: var(--shadow-sm);
    display: flex;
    flex-direction: column;
    transition: var(--transition-normal);
    color: var(--text);
    cursor: pointer;
    height: 500px;
}

.newsCard:hover {
    transform: translateY(2px);
    box-shadow: none;
}

.newsPostTitle {
    font-size: var(--text-2xl);
    font-weight: var(--font-bold);
    margin: var(--space-lg) 0 var(--space-sm);
    line-height: var(--leading-tight);
}

.newsContent {
    font-size: var(--text-md);
    line-height: var(--leading-normal);
    color: var(--text-muted);
    min-height: var(--space-5xl);
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.newsMedia {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: var(--transition-normal);
    overflow: auto;
}

.newsMediaContainer {
    overflow: hidden;
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-xs-inset);
}

.newsCard:hover .newsMedia {
    transform: scale(1.05);
}

.textOverlay {
}

@media screen and (max-width: 768px) {
    .newsGrid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        gap: var(--space-2xl);
    }

    .newsCard {
        height: 400px;
    }

    .newsContainer {
        padding: var(--space-3xl) var(--space-md);
    }
}

@media screen and (max-width: 480px) {
    .newsGrid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: var(--space-2xl);
    }

    .newsCard {
        height: 350px;
    }
}

