:root {
    /* oklch */
    --bg-dark: oklch(0.1 0.025 253);
    --bg: oklch(0.15 0.025 253);
    --bg-light: oklch(0.2 0.025 253);
    --text: oklch(0.96 0.05 253);
    --text-muted: oklch(0.76 0.05 253);
    --highlight: oklch(0.5 0.05 253);
    --border: oklch(0.4 0.05 253);
    --border-muted: oklch(0.3 0.05 253);
    --primary: oklch(0.76 0.1 253);
    --secondary: oklch(0.76 0.1 73);
    --danger: oklch(0.7 0.05 30);
    --warning: oklch(0.7 0.05 100);
    --success: oklch(0.7 0.05 160);
    --info: oklch(0.7 0.05 260);

    /* hsl (fallback color) */
    --bg-dark: hsl(222 91% 2%);
    --bg: hsl(215 65% 5%);
    --bg-light: hsl(212 41% 9%);
    --text: hsl(213 100% 97%);
    --text-muted: hsl(213 37% 71%);
    --highlight: hsl(213 23% 40%);
    --border: hsl(212 31% 29%);
    --border-muted: hsl(212 45% 19%);
    --primary: hsl(212 78% 73%);
    --secondary: hsl(34 59% 62%);
    --danger: hsl(9 26% 64%);
    --warning: hsl(52 19% 57%);
    --success: hsl(146 17% 59%);
    --info: hsl(217 28% 65%);

    --transparent: rgba(0 0 0 / 0);
}
body.light {
    /* oklch */
    --bg-dark: oklch(0.92 0.025 253);
    --bg: oklch(0.96 0.025 253);
    --bg-light: oklch(1 0.025 253);
    --text: oklch(0.15 0.05 253);
    --text-muted: oklch(0.4 0.05 253);
    --highlight: oklch(1 0.05 253);
    --border: oklch(0.6 0.05 253);
    --border-muted: oklch(0.7 0.05 253);
    --primary: oklch(0.4 0.1 253);
    --secondary: oklch(0.4 0.1 73);
    --danger: oklch(0.5 0.05 30);
    --warning: oklch(0.5 0.05 100);
    --success: oklch(0.5 0.05 160);
    --info: oklch(0.5 0.05 260);

    /* hsl (fallback color) */
    --bg-dark: hsl(213 59% 91%);
    --bg: hsl(213 100% 96%);
    --bg-light: hsl(213 100% 100%);
    --text: hsl(218 100% 6%);
    --text-muted: hsl(212 31% 29%);
    --highlight: hsl(213 100% 100%);
    --border: hsl(213 21% 52%);
    --border-muted: hsl(213 29% 64%);
    --primary: hsl(211 66% 29%);
    --secondary: hsl(39 100% 16%);
    --danger: hsl(9 21% 41%);
    --warning: hsl(52 23% 34%);
    --success: hsl(147 19% 36%);
    --info: hsl(217 22% 41%);
}