/* Main */

.burgerMenu {
    position: relative;
    background: var(--bg-light);
    padding: var(--space-sm);
    height: var(--space-2xl);
    width: var(--space-2xl);
    border-radius: var(--radius-xl);
    background: var(--bg-light);
    border: var(--line-xs) solid var(--border-muted);
}

/* Menu button */

.burgerButton {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
    /*padding: var(--space-xs);*/
    z-index: 1001;
}

.burgerLine {
    width: 100%;
    height: var(--line-md);
    background-color: var(--text);
    border-radius: var(--radius-xs);
    transition: var(--transition-normal);
}

.burgerButtonOpen .burgerLine:nth-child(1) {
    transform: translate(0, 10px) rotate(45deg) ;
}

.burgerButtonOpen .burgerLine:nth-child(2) {
    opacity: 0;
}

.burgerButtonOpen .burgerLine:nth-child(3) {
    transform: translate(0, -10px) rotate(-45deg);
}

/* Background tint */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-dark);
    z-index: 999;
    transition: var(--transition-normal);
}

/* Menu */

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--bg-dark);
    z-index: 1000;
    overflow: hidden;
    transition: var(--transition-normal);
}

.menuOpen {
    height: 100%;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 var(--space-lg);
}

.menuItem {
    padding: var(--space-xl);
    color: var(--text-muted);
    font-size: var(--text-lg);
    text-decoration: none;
    text-transform: uppercase;
    transition: var(--transition-normal);
    width: 100%;
    text-align: center;
    border-bottom: var(--line-xs) solid var(--border);
}

.menuItem:global(.active) {
    color: var(--text);
    font-weight: var(--font-black);
}

.menuItem:hover {
    color: var(--text);
}

.menuItem:last-child {
    border-bottom: none;
}

/* Media queries */

@media (max-width: 768px) {
    .menuOpen {
        height: 468px;
        padding-top: var(--space-4xl);
    }

    .menuItem {
        font-size: var(--text-2xl);
        padding: var(--space-xl);
    }
}